src/main/mule/catching.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<ee:object-store-caching-strategy name="Caching_Strategy" doc:name="Caching Strategy" doc:id="77159a8e-337f-4006-8c95-0f3d6a1e13f5" keyGenerationExpression="#[vars.userid]" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d1f1fe5c-5df3-46c1-9c4b-dc4bcea17531" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="catchingFlow" doc:id="21fea7a2-7df4-4914-802f-67da0c21d3b3" >
		<http:listener doc:name="Listener" doc:id="32831672-db36-4d33-b571-2ddcc758e5b7" config-ref="HTTP_Listener_config" path="/test1"/>
		<set-payload value="#['this is a test']" doc:name="Set Payload" doc:id="5c5e4256-6c18-4b5d-bf25-f1e670dd5c65" />
		<logger level="INFO" doc:name="Logger" doc:id="763bc37b-5fb7-444e-945f-4a418b68effc" message="#[payload]"/>
	</flow>
</mule>
